nav {
    position: fixed;
    left: 10px;
    top: 14%;
    width: 70px;
}

main {
    padding-left: 80px;
}

.header img {
    margin-top: -13%;
    margin-left: 10%;
}

@media (min-width: 768px) {
    nav {
        width: 90px;
        left: 20px;
    }

    main {
        padding-left: 130px;
    }

    .header img {
        width: 50% !important;
        margin-top: -8%;
        margin-left: 0;
    }

    .foto_perfil img {
        width: 35% !important;
    }

    .texto_perfil {
        font-size: 1.5rem !important;
        max-width: 900px;
        margin: 0 auto;
    }

    .redes_sociais img {
        width: 35% !important;
    }
}

@media (min-width: 1200px) {

    nav {
        position: static;
        width: 100%;
        height: auto;
        margin-top: -30px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .inicio,
    .skills,
    .projetos,
    .contato {
        margin: 0 !important;
        padding: 0 !important;
    }

    main {
        padding-left: 0;
    }

    .redes_sociais {
        justify-content: center;
        align-items: center;
    }

    .redes_sociais > div {
        width: auto;
        flex: 0 0 auto;
        text-align: center !important;
    }

    .redes_sociais img {
        width: 80px !important;
    }
}